:root.theme-dark {
  --background-color: #000028;
  --decoration-color: #FF0070;
  --block-color: #FF0070;
  --text-color: #F1B2CE;
  --title-color: #000028;
  --background-image: url("../images/cover-image-dark.png");
  --title-font-color: #DB00FF;
  --display-header-decor: flex;
  --border-color: rgba(255, 0, 112, 0.4);
  --shadow-color: #FF0070;
}