:root.theme-light {
  --background-color: #FFF1F7;
  --decoration-color: #353430;
  --block-color: #FF8DCB;
  --text-color: #353430;
  --title-color: #353430;
  --background-image: url("../images/cover-image-light.png");
  --title-font-color: #FFC2E6;
  --display-header__decor: none;
  --border-color: rgba(53, 52, 48, 0.4);
  --shadow-color: #FF8DCB;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: #FFF1F7;
    --decoration-color: #353430;
    --block-color: #FF8DCB;
    --text-color: #353430;
    --title-color: #353430;
    --background-image: url("../images/cover-image-light.png");
    --title-font-color: #FFC2E6;
    --display-header__decor: none;
    --border-color: rgba(53, 52, 48, 0.4);
    --shadow-color: #FF8DCB;
  }
}


