:root {
  --base-font: "IBM Plex Mono" , monospace;
  --background-color: #000028;
  --decoration-color: #FF0070;
  --block-color: #FF0070;
  --text-color: #F1B2CE;
  --title-color: #000028;
  --background-image: url("../images/cover-image-dark.png");
  --font-size-normal: 18px;
  --font-weight-bold: 700;
  --font-weight-normal: 400;
  --line-height-normal: 18px;
  --line-height-big: 23.4px;
  --line-height-title: 95.7px;
  --title-font-color: #DB00FF;
  --shadow-color: #FF0070;
  --display-header__decor: flex;
  --border-color: rgba(255, 0, 112, 0.4);
  /*DESKTOP*/
  --font-size-title-desktop: 120px;
  --font-size-title-desktop-big: 157px;
  --line-size-title-desktop: 99px;
  --line-size-title-desktop-big: 129.53px;
}


